:root {
    --bg_header: #2c3e50;
    --bg_header_soft: #3a546d;
    --bg_primary: #1abc9c;

}



.bg_header {
    background-color: var(--bg_header);
}

.bg_header_soft {
    background-color: var(--bg_header_soft);
}

.bg_primary {
    background-color: var(--bg_primary);
    ;
}

.btn-primary {
    background-color: var(--bg_primary);
    ;
}


.fs_6 {
    font-size: 8px;
}

/* #region debug */

.debug [class^="col"] {
    background-color: red;
    border: 1px solid;
    height: 240px;

}

.debug header {
    height: 80px;

}

.jumbotron {}

.avatar {
    width: 30%;
    padding-top: 5rem;
    margin-top: 2rem;
    margin: auto;
}

.star_line {
    position: relative;
    border: none;
    height: 4px;
    background: white;
    opacity: 1;
    width: 10%;
    text-align: center;

}

.d_inline {
    display: block;
}

.link {
    text-decoration: none;
    color: var(--bg_primary);
}

i.fa {
    display: inline-block;
    border-radius: 50%;
    border-color: white;
    border: 1px solid;
    padding: 0.5em 0.6em;

}

.content-wrap {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}


.icon1 {

    z-index: 1;
    width: 10%;
    border: 2px solid white;
    opacity: 1;
}
.icon1_dark {

    z-index: 1;
    width: 10%;

    border: 2px solid black;
    opacity: 1;
}


/* #endregion debug */